*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-section{
    display: flex !important;
    width: 100%;
}

.right-side{
    width: 50%;
    float: right;
    padding: 1em;
}

.left-side{
    width: 50%;
    float: left;
    padding: 1em;
}