.navbar {
    background-image: url('../../assets/Tasty-Treats-backdrop.jpg');
    width: 100%;
    height: 150px;
}

.numerator {
    font-size: 15px;
    position: relative;
    top: -15px;

}

.carticon {
color: #875d2c;
position: relative;
top: -5px;
font-weight: 700;
}