.wrapper {
    min-height: auto;    
    background-image: url('../../assets/Tasty-Treats-backdrop.jpg');
    width: 100%;
}

/* .search{
    position: flex;
    top: 400px;
} */

.searchInput {
    
    border:"0.1px solid #875d2c";
    box-shadow:"0px 5px 5px 0px";
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid #002524 !important;
    width: 100%;
    color: #002524;
    background-color:white;
    padding: 10px;
}


.special {
    color: red;
    position: absolute;
    top: 200px;
}


/*  */
/* transform: scale(1.01); */