.wrapper {
    min-height: 400vh;    
    background-image: url('../../assets/Tasty-Treats-backdrop.jpg');
    width: 100%;
}

.search{
    /* position: absolute;
    top: 400px; */
}

.searchInput {
    border:"0.1px solid #875d2c";
    box-shadow:"0px 5px 5px 0px";
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 500px;
    color: #002524;
    background-color:white;
    padding: 10px;
    position: absolute;
}


.special {
    color: red;
    position: absolute;
    top: 200px;
}

/* .products {
    position: absolute;
    top: 750px;
}

.menutoday {
    position: absolute;
    top: 550px;
} */
/* transform: scale(1.01); */