.wrapper {
    min-height: 400vh;    
    background-image: url('../../assets/Tasty-Treats-backdrop.jpg');
    width: 100%;
}

.search{
    position: absolute;
    /* top: 50px; */
}

.searchInput {
    border: 1px solid #002524 !important;
    width: 500px;
    color: #002524;
    background-color:white
}

.caro {
    background-image: url('../../assets/greenbrown.jpg');
    background-position: cover;
    position: absolute;
    top: 200px;
}

.special {
    color: red;
    position: absolute;
    top: 200px;
}